.container {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 100px auto;
    flex-direction: row-reverse;
}

.box {
    height: 200px;
    width: 200px;
}

.box1 {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
